.continent {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  grid-template-columns: [asie]64px [europe]64px [afrique]64px [amerique]64px [oceanie]64px;
}

.continent > [data-continent="asie"] {
  grid-column: asie;
}

.continent > [data-continent="europe"] {
  grid-column: europe;
}

.continent > [data-continent="afrique"] {
  grid-column: afrique;
}

.continent > [data-continent="amerique"] {
  grid-column: amerique;
}
